html{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.row-section{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
}

@media(min-width: 768px){

  html{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  body{
    width: 100%;
    height: 100%;
    margin: 0px !important;
    padding: 0px;
    justify-content: center;
    display: flex;
  }

  #root{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
  }

  #index-section{
    width: 100%;
    height: 100%;
  }

  div{
    display: flex;
  }

  #home-div{
    justify-content: center;
  }

  .row-section{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }

  .animated-btn:hover{
    background-color: purple;
    border: 0px;
    color: white;
    box-shadow: inset;
    cursor: pointer;
    text-align: center;
  }

  .panel{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border: 0.5px inset rgba(211,211,211, 0.6);
    border-radius: 10px;
    width: 320px;
    height: auto;
    padding: 5px;
  }

  .panel-login{
    background-color: rgba(80,00,80, 0.6);
  }
  .panel-login label{
    color: white;
    font-size: 18px;
    font-weight: 800;
  }
  .panel-login button{
    width: 100%;
    height: auto;
    border: 0.5px solid purple;
    max-width: 300px;
    color: purple;
    border-radius: 5px;
    background-color: white;
    padding: 5px;    
    margin-bottom: 10px;
  }
  .panel-login button:hover{
    cursor: pointer;
    background-color: purple;
    border: 0.5px solid white;    
    color: white;
  }
  /* CADASTRO STYLE */
  .panel-cadastro{
    background-color: rgba(119,136,153, 0.3);
    margin-top: 50px;
    margin-bottom: 100px;
  }
  .panel-cadastro label{
    color: #8B008B;
    font-size: 18px;
    font-weight: 800;
  }
  .panel-cadastro button{
    width: 100%;
    height: auto;
    border: 0px solid;
    max-width: 300px;
    color: #8B008B;
    border-radius: 5px;
    background-color: white;
    padding: 10px;
  }
  .panel-cadastro button:hover{
    cursor: pointer;
    background-color: #8B008B;
    color: white;
  }   

  .clickable-button{
    width: 100%;
    height: 100%;
    border: 0px solid;
    max-width: 300px;
    color: #8B008B;
    border-radius: 5px;
    background-color: white;
    padding: 10px;
  }
  .clickable-button:hover{
    cursor: pointer;
    background-color: #8B008B;
    color: white;
  }    

  a.link{
    display: flex;
    font-size: 18px;
  }

  .col-3{
    display: flex;
    width: 25%;
    margin: 1px;    
  }

  .col-6{
    display: flex;
    width: 50%;
    margin: 1px;
  }

  .col-12{
    display: flex;
    width: 100%;
    margin: 1px;    
  }

  .row-center{
    flex-direction: row;
    justify-content: center;    
  }

  #header{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    height: 150px;
    background-color: rgba(128,0,128, 0.5);
  }

  .nav-btn{
    width: 200px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: solid 0.5px white;
    color: white;
    border-radius: 30px;
  }
  .nav-btn:hover, .nav-btn:hover a{
    background-color: white;
    color: black;
    cursor: pointer;
  }
  .nav-btn a{
    font-size: 15px;
    font-weight: 800;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
    color: white;
  }   

  .maquina-dashboard{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 10px;
  }

  .maquina-nome{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #8B008B;
    color: white;
    padding: 10px;
  }
  .maquina-nome p, .maquina-nome b{
    text-align: center;
    margin: 0px;
  }
  .maquina-infos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    color: #8B008B;
    padding: 10px;
  }
  .maquina-infos b{
    text-align: center;
  }

  .grey-text{
    color: grey;
    font-size: 13px;
  }

  .operadores-title{
    color: #8B008B;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    text-align: left;
  }

  .purple-border{
    border: solid 0.5px #8B008B;
  }

  .conta-col{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .column-start{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  /* FIM DO MEDIA QUERY */ 
}
